<mat-card>
  <mat-card-header>
    <mat-icon aria-hidden="false" aria-label="Example home icon">house</mat-icon>
    <mat-card-title>{{center.name}}</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>

  <mat-card-content>

      <!--<div #mapContainer id="map"></div>-->

      <div class="content-container">


        <div class="center-info">
          <div class="info-left">
            <div class="center-detail">
              <div>
                <div class="center-info-item" *ngIf="center.food_available">
                  <i class="material-icons food-i">fastfood</i> <span>Food Provide</span>
                </div>
                <div class="center-info-item" *ngIf="center.bed_num > 0">
                  <i class="material-icons bed-i">hotel</i> <span>Bed Number</span>
                </div>
              </div>
              <div>
                <div class="center-info-item" *ngIf="center.wardrobe_available">
                  <i class="material-icons wardrobe-i">
                    shopping_basket
                  </i> <span>Wardrobe</span>
                </div>
                <div class="center-info-item" *ngIf="center.shower_num > 0">
                  <i class="material-icons bath-i">bathtub</i>
                  <span>Shower Number: 5</span>
                </div>
              </div>
            </div>

           <ul>
             <li>
               <i class="material-icons">
               local_phone
               </i>:
               <span>
               408-111-000
                </span>
             </li>
             <li>
               <i class="material-icons">
               access_time
                </i>:
               <span>8:00am - 12:00pm</span>
             </li>
           </ul>

          </div>
          <agm-map [latitude]="lat"
                   [longitude]="lng"
                   [zoom]="zoom" id="map"></agm-map>
        </div>

      </div>


    </mat-card-content>
</mat-card>
